<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-white">ユーザー情報変更画面</h1>
        <%= form_for @user do |f| %>
        
        <%= render 'layouts/error_messages', model: f.object %>
          
          <div class="form-group">
            <%= f.label :name, '名前 ※最大15文字', class: 'text-white' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :age, '年齢 ※数字を入力', class: 'text-white' %>
            <%= f.number_field :age, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :from, '都道府県:', class: 'text-white' %>
            <%= f.collection_select :from, Prefecture.all, :name, :name %>
          </div>
          
          <div class="form-group">
            <%= f.label :email, 'メールアドレス', class: 'text-white' %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :password, 'パスワード ※8文字以上', class: 'text-white' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :password_confirmation, 'パスワード再確認', class: 'text-white' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          
          <% if User.find_by(email:"test@example.com") %>
            <h1 class="text-white">テストログインユーザーは情報を変更することはできません。</h1>
          <% else %>
            <%= f.submit "変更する", class: 'btn-block btn-white' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>