<div class="user-show-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3"
        <h1 class="text-center">ユーザー詳細</h1>
        
        <h2 class="text-center"><%= @user.name %>さんのページ</h2>
        <div class="text-center">        
          <% if @user.id == current_user.id %>
            <% else %>
              <% if @isRoom == true %>
                <p><a class="btn btn-primary" href="/rooms/<%= @roomId %>" role="button">メッセージ画面へ</a>
              <% else %>
                <%= form_for @room do |f| %>
                  <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user_id, :value=> @user.id %>
                  <% end %>
                <%= f.submit "メッセージを送る", class: "btn btn-primary btn-primary" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
