<div class="room-show-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6  col-md-offset-3 ">
        <h1>DM（ダイレクトメッセージ）</h1>
        <div class="text-center">
          <h2 class="">参加者</h2>
          
          <% @entries.each do |e| %>
            <h3><strong><a href="/users/<%= e.user.id %>"><%= e.user.name%>さん</a></strong></h3>
          <% end %>
          
          <hr>
          
          <% if @messages.present? %>
            <% @messages.each do |m| %>
              <small> <strong><a href="/users/<%= m.user_id %>"><%= m.user.name %></a></strong></small>
              <strong><%= m.content %></strong></br>
              <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
              <hr>
            <% end %>
          <% else %>
            <h4 class="text-center">メッセージはまだありません</h4>
          <% end %>
      
          <%= form_for @message do |f| %>
            <%= f.text_field :content, placeholder: "メッセージを入力して下さい" , :size => 70 %>
            <%= f.hidden_field :room_id, :value => @room.id %>
            <br>
            <%= f.submit "送信する" %>
          <% end %>
          
        </div>  
      </div>
    </div>
  </div>
</div>