<div class="item-index-wrapper">
  <div class="container">
    <div class="text-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">検索</div>
        </div>
        <div class="panel-body">
          <%= search_form_for @search, url: items_path do |f| %>
            <div class="form-group">
              <%= f.label :product_cont, '商品名' %>
              <%= f.search_field :product_cont, placeholder: "なにをお探しですか？" %>
            </div>
            <div class="form-group">
              <%= f.label :price, '価格' %>
              <%= f.number_field :price_gteq, placeholder: "¥0" %>円以上~
              <%= f.number_field :price_lteq, placeholder: "¥99,999,999" %>円以下</br>
            </div>
            <%= f.submit '検索', class: "btn btn-primary" %>
            <%= link_to 'クリア', url_for, class: "btn btn-default" %>
          </div>
        </div>
      <% end %>
    </div>
    
    <hr>
    <!--<div class="item-image">-->
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-4">
          <div class="item-index-single">
            <h2 class="item-author">
              <span class="user-tooltip" data-toggle="tooltip" data-placement="right" title="ユーザーページへ">
              <% if logged_in? %>
                ユーザー：<%= link_to item.user.name, user_path(id: item.user.id) %>
              </span>  
              <% else %>
                ユーザー：<%= item.user.name %>
              <% end %>
            </h2>
            
            <%= image_tag item.image.url %>
            
            <p class="item-text">
              [商品名] <%= item.product %>
            </p>
            <p class="item-text">
              [価格] <%= item.price %>円
            </p>
            <!--<p class="item-text">-->
              <!--[説明] <%= item.description %>-->
            <!--</p>-->
            <hr>
            <!--<h3>コメント</h3>-->
            <!--<% item.comments.each do |comment| %>-->
              <!--<P><%= comment.content %></P>-->
            <!--<% end %>-->
            <% if logged_in? %>
              <div class="item-menus">
                <%= link_to 'DMを送る', user_path(id: item.user.id) %>
              </div>
            <% end %>
            <% if logged_in? %>
              <div class="item-menus">
                <%= link_to("コメントする",comments_new_path(item_id: item.id), {method: :get})  %>
              </div>
            <% end %>
            <% if logged_in? %>
              <div class="item-menus">
                <% unless item.like_users.include?(current_user) %>
                  <%= link_to("お気に入りにする",likes_path(item_id: item.id), {method: :post}) %>
                <% else %>
                  <%= link_to("お気に入りを取り消す",likes_path(item_id: item.id), {method: :delete}) %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div> 
    <!--</div>-->
    <%= paginate @items %>
  </div>
</div>